@model NoteWiki.Models.NoteContentModel


<p>@Model.Content</p>

    @* <table class="table table-bordered"> *@
    @*     <thead class="table-light"> *@
    @*         <tr> *@
    @*             <th>Note Id</th> *@
    @*             <th>Name</th> *@
    @*             <th>Content</th> *@
    @*             <th>Created At</th> *@
    @*             <th>Updated At</th> *@
    @*             <th>View</th> *@
    @*         </tr> *@
    @*     </thead> *@
    @*     <tbody> *@
    @*         <tr> *@
    @*             <td>@Model.NoteGuid</td> *@
    @*             <td>Model.NoteName</td> *@
    @*             <td>Model.Content</td> *@
    @*             <td>Model.CreatedAt.ToString("g")</td> *@
    @*             <td>Model.UpdatedAt.ToString("g")</td> *@
    @*         </tr> *@
    @*     </tbody> *@
    @* </table> *@
